@page "{id}"
@model Boletaje.Pages.Impuestos.EditarModel
@{
    ViewData["Title"] = "Editar Impuesto";
}

@section breadcrumb{

    <li class="breadcrumb-item">
        <a asp-page="./Index">Impuestos</a>
    </li>
    <li class="breadcrumb-item active">
        <a>Edición de Impuesto</a>
    </li>

}

@section styles{


}
@section scripts{



}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="title">Edición de Impuesto</h5>
                    </div>

                    <div class="col-sm-6" style="text-align: right">

                        <a asp-page="/Impuestos/Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="fas fa-reply "></i>  Regresar</a>

                    </div>
                </div>


            </div>
            <div class="card-body">
                <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.id" hidden />

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cod SAP</label>
                                <input type="text" class="form-control form-control-lg" id="codsap" placeholder="Cod. SAP" asp-for="Input.CodSAP" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="number" id="tarifa" class="form-control form-control-lg" asp-for="Input.Tarifa" required placeholder="Tarifa">
                            </div>
                        </div>
                         
                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" id="Guardar" class="btn btn-rounded btn-outline-success">Guardar Cambios</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
