@page "{id}"
@model InversionGloblalWeb.Pages.SeguridadRolesModulos.RolesModulosModel
@{
    ViewData["Title"] = "Asignar Modulos";
}
@section breadcrumb{

    <li class="breadcrumb-item">
        <a asp-page="./Index">Roles</a>
    </li>
    <li class="breadcrumb-item active">
        <a>Asignación de Modulos por Rol</a>
    </li>

}
@section styles{

    <style>
        h4 {
            font-size: 22px !important;
        }
    </style>

}

@section scripts{
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {

            });


            RellenaDatosAsignados();

        });

        var ProdCadena = [];
        var ProdCadenaM = [];

        function InsertarProductoTablaMia(i) {
            var detalle =
            {
                codModulo: ProdCadena[i].codModulo,
                descripcion: ProdCadena[i].descripcion
            }
            ProdCadenaM.push(detalle);

            ProdCadena.splice(i, 1);
            RellenaTablaM();
            RellenaTablaG();

        }

        function InsertarProductoTablaG(i) {
            var detalle =
            {
                codModulo: ProdCadenaM[i].codModulo,
                descripcion: ProdCadenaM[i].descripcion
            }
            ProdCadena.push(detalle);

            ProdCadenaM.splice(i, 1);
            RellenaTablaM();
            RellenaTablaG();

        }

        function RellenaDatosAsignados() {



             $.ajax({
            type: 'GET',
            dataType: 'json',
            url: '@Url.Page("RolesModulos", "Modulos")',
                 data: { id: $("#CodRol").val() },
            success: function (result) {

                console.log(result);



                    for (var i = 0; i < result.modulosGenerales.length; i++) {
                        var detalle = {
                            codModulo: result.modulosGenerales[i].codModulo,
                            descripcion: result.modulosGenerales[i].descripcion,

                        };
                        ProdCadena.push(detalle);

                    }

                for (var i = 0; i < result.modulosMiosS.length; i++) {
                    if (result.modulosMiosS[i].descripcion != null) {

                        var detalle = {
                            codModulo: result.modulosMiosS[i].codModulo,
                            descripcion: result.modulosMiosS[i].descripcion,

                        };
                        ProdCadenaM.push(detalle);
                    }

                    }
                    RellenaTablaG();
                    RellenaTablaM();


            },
            beforeSend: function () {

            },
            complete: function () {

            }
        });
        }

        function RellenaTablaG() {
            var sOptions = '';

            $("#tbody1").html('');

            for (var i = 0; i < ProdCadena.length; i++) {
                sOptions += '<tr>'
                sOptions += '<td align="center" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadena[i].codModulo + '</p></td>';
                sOptions += '<td align="left" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadena[i].descripcion + '</p></td>';

                sOptions += '<td align="center" style="padding-top:15px;"><a  onclick="javascript: InsertarProductoTablaMia(' + i + ')" style="cursor: pointer; font-size: 25px; line-height: 0px;"  title="Pasar Modulo" > > </a> ';



                sOptions += '</tr>'
            }
            $("#tbody1").html(sOptions);
        }


        function RellenaTablaM() {
            var sOptions = '';

            $("#tbody2").html('');

            for (var i = 0; i < ProdCadenaM.length; i++) {
                sOptions += '<tr>'
                sOptions += '<td align="center" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadenaM[i].codModulo + '</p></td>';
                sOptions += '<td align="left" style="padding-top:15px;">  <p style="font-size:15px;">' + ProdCadenaM[i].descripcion + '</p></td>';

                sOptions += '<td align="center" style="padding-top:15px;"><a  onclick="javascript: InsertarProductoTablaG(' + i + ')" style="cursor: pointer; font-size: 25px; line-height: 0px;" title="Pasar Modulo" > < </a> ';



                sOptions += '</tr>'
            }
            $("#tbody2").html(sOptions);
        }

        function Generar() {

            var CodRol = $("#CodRol").val();

            for (var i = 0; i < ProdCadenaM.length; i++) {
                ProdCadenaM[i].descripcion = ProdCadenaM[i].descripcion.replace(" ", "_");
            }
            var rolesMod =
            {
                ProdCadenaM
            };
            var modulos = JSON.stringify(rolesMod);


            var enviar = {
                CodRol,
                modulos
            };
            var str = JSON.stringify(enviar).toString();
            str = str.replace(" ", "_");
            console.log(str);


           $.ajax({
                    type: 'POST',

                    url: '@Url.Page("RolesModulos", "Generar")',
                    dataType: 'text',
                    data: { recibidos: str},
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
                        },
                    success: function (json) {

                        $("#divProcesando").hide();

                        if ($('.modal-backdrop').is(':visible')) {

                            $('body').removeClass('modal-open');
                            $('.modal-backdrop').hide();
                        }
                        console.log("resultado " + json);
                        if (json == "true") {
                            Swal.fire({
                                title: "Ha sido guardado con éxito",

                                icon: 'success',
                                showCancelButton: false,

                                confirmButtonText: 'OK',
                                customClass: {
                                    confirmButton: 'swalBtnColor',

                                },
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    location.reload();
                                }
                            })

                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Ha ocurrido un error al intentar guardar'

                            })
                        }
                    },

                    beforeSend: function (xhr) {

                        $("#divProcesando").modal("show");
                    },
                    complete: function () {

                    },
                    error: function (error) {

                    }
                    });

            @*$.ajax({
                type: 'POST',
                dataType: 'json',
                url: '@Url.Page("RolesModulos", "Generar")',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(str),
                headers: {

                },
                success: function (result) {
                    console.log(result);
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })*@
        }


        function PasarTodasDerecha() {


            var tam = ProdCadenaM.length;
            var tam2 = ProdCadena.length;
            //for (var i = 0; i < tam; i++) {

            //    ProdCadenaM.splice(i, 1);
            //}
            //ProdCadenaM = [];

            for (var i = 0; i < ProdCadena.length; i++) {

                var detalle =
                {
                    codModulo: ProdCadena[i].codModulo,
                    descripcion: ProdCadena[i].descripcion
                }
                ProdCadenaM.push(detalle);
            }
            //for (var i = 0; i < tam2; i++) {
            //    ProdCadena.splice(i, 1);
            //}
            ProdCadena = [];


            RellenaTablaM();
            RellenaTablaG();
        }


        function PasarTodasIzquierda() {
            var tam = ProdCadena.length;
            var tam2 = ProdCadenaM.length;
            //for (var i = 0; i < tam; i++) {
            //    ProdCadena.splice(i, 1);
            //}
            console.log(tam2);
            for (var i = 0; i < tam2; i++) {

                var detalle =
                {
                    codModulo: ProdCadenaM[i].codModulo,
                    descripcion: ProdCadenaM[i].descripcion
                }
                ProdCadena.push(detalle);
            }
            //for (var i = 0; i < tam2; i++) {
            //    ProdCadenaM.splice(i, 1);
            //}

            ProdCadenaM = [];


            RellenaTablaM();
            RellenaTablaG();
        }

        function cerrarModalError() {
            $("#Error").hide();
        }

    </script>
}

<form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="title">Editar Módulos por Rol</h5>

                        </div>

                        <div class="col-sm-6" style="text-align: right">

                            <a asp-page="./Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="fas fa-reply "></i>  Regresar</a>

                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4 pr-1">

                            <div class="form-group">
                                <label>Rol</label>
                                <input type="text" class="form-control form-control-lg" id="desc" asp-for="Roles.NombreRol" readonly>
                                <input id="CodRol" asp-for="Roles.idRol" hidden />
                            </div>


                        </div>





                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-8">

                            <h5 class="title"> Módulos Disponibles</h5>
                        </div>

                        <div class="col-sm-3">
                            <a onclick="javascript: PasarTodasDerecha()" style="cursor: pointer; font-size: 25px; line-height: 0px;" title="Pasar Todos los Modulos"> >> </a>
                        </div>


                    </div>
                </div>
                <div class="card-body">

                    <div class="table-responsive tableFixHead" style="padding:inherit; overflow:scroll;    z-index: 5; height: 290px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th align="center" style=" text-align: center;">Código</th>
                                    <th align="center" style=" text-align: center;">Nombre </th>




                                    <th align="center" style=" text-align: center;">Acción</th>
                                </tr>

                            </thead>
                            <tbody id="tbody1">
                            </tbody>
                        </table>

                    </div>


                </div>
            </div>
        </div>


        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-8">

                            <h5 class="title"> Módulos Asignados al Rol</h5>
                        </div>

                        <div class="col-sm-4" style="text-align: right;">
                            <a onclick="javascript: PasarTodasIzquierda()" style="cursor: pointer; font-size: 25px; line-height: 0px;" title="Pasar Todos los Modulos"><<</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive tableFixHead" style="padding:inherit; overflow:scroll;    z-index: 5; height: 290px;">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th align="center" style=" text-align: center;">Código</th>
                                    <th align="center" style=" text-align: center;">Nombre </th>




                                    <th align="center" style=" text-align: center;">Acción</th>
                                </tr>

                            </thead>
                            <tbody id="tbody2">
                            </tbody>
                        </table>

                    </div>



                </div>
            </div>
        </div>
    </div>

    <button type="button" onclick="javascript: Generar();" class="btn btn-rounded btn-outline-success">Guardar Cambios</button>
</form>