@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}





<!-- left sidebar -->
<!-- ============================================================== -->
<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu ADM
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fas fa-indent"></i>Administrativo <span class="badge badge-success">6</span></a>
                        <div id="submenu-1" class="collapse submenu" style="">
                            <ul class="nav flex-column">

                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "1").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Usuarios/Index">Usuarios</a>
                                        }

                                    }

                                </li>
                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "8").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Bitacora/Index">Bitacora Errores</a>
                                        }

                                    }

                                </li>
                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "6").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Sucursales/Index">Sucursales</a>
                                        }

                                    }

                                </li>


                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "9").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Tecnicos/Index">Técnicos</a>
                                        }

                                    }

                                </li>

                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "11").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Status/Index">Status</a>
                                        }

                                    }

                                </li>

                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "13").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Garantias/Index">Garantias</a>
                                        }

                                    }

                                </li>
                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "17").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/TiposCasos/Index">Tipos Casos</a>
                                        }

                                    }

                                </li>

                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "19").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/ProductosPadres/Index">Productos Padres</a>
                                        }

                                    }

                                </li>

                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "27").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Diagnosticos/Index">Diagnóstico</a>
                                        }

                                    }

                                </li>
                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "29").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/TiposErrores/Index">Tipos Errores</a>
                                        }

                                    }

                                </li>
                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "37").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Impuestos/Index">Impuestos</a>
                                        }

                                    }

                                </li>
                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "40").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Asuntos/Index">Asuntos</a>
                                        }

                                    }

                                </li>
                            </ul>
                        </div>
                    </li>



                    <li class="nav-divider">
                        Transacciones
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fas fa-th"></i>Transaccional <span class="badge badge-success">6</span></a>
                        <div id="submenu-2" class="collapse submenu" style="">
                            <ul class="nav flex-column">

                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "15").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Llamadas/Index">Llamadas Servicio</a>
                                        }

                                    }

                                </li>


                            </ul>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-wrench"></i>Taller <span class="badge badge-success">6</span></a>
                        <div id="submenu-3" class="collapse submenu" style="">
                            <ul class="nav flex-column">


                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "21").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Reparacion/Index">Reparaciones</a>
                                        }

                                    }

                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fas fa-truck-loading"></i>Bodega <span class="badge badge-success">6</span></a>
                        <div id="submenu-4" class="collapse submenu" style="">
                            <ul class="nav flex-column">


                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "25").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Bodega/Index">Bodega</a>
                                        }

                                    }

                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-clipboard-list"></i>BackOffice <span class="badge badge-success">6</span></a>
                        <div id="submenu-5" class="collapse submenu" style="">
                            <ul class="nav flex-column">


                                <li class="nav-item">
                                    @{
                                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "34").FirstOrDefault()))
                                        {

                                            <a class="nav-link" asp-page="/Movimientos/Index">Movimientos</a>
                                        }

                                    }

                                </li>

                            </ul>
                        </div>
                    </li>

                    @{
                        if (!string.IsNullOrEmpty(Roles.Where(a => a == "43").FirstOrDefault()))
                        {
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-5"><i class="fas fa-clipboard-list"></i>Ordenes de Venta <span class="badge badge-success">6</span></a>
                                <div id="submenu-6" class="collapse submenu" style="">
                                    <ul class="nav flex-column">


                                        <li class="nav-item">
                                            @{
                                                if (!string.IsNullOrEmpty(Roles.Where(a => a == "43").FirstOrDefault()))
                                                {

                                                    <a class="nav-link" asp-page="/OrdenVenta/Index">Orden Venta</a>
                                                }

                                            }

                                        </li>

                                    </ul>
                                </div>
                            </li>
                        }


                    }


                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
