@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="modal modal-static fade" id="divProcesando" role="dialog" aria-hidden="true" style="height: 420px; padding-top: 10%;">
    <div class="modal-dialog" style="background-color: transparent; opacity:1;">
        <div class="modal-content" style="background-color: transparent; opacity:1;">
            <div class="modal-body" style="background-color: transparent; opacity:1;height: 240px;">
                <center>
                    <br />
                    <iframe src="~/js/htmlpage.html" width="490" height="500" style="margin-left: 0%; margin-top: -79px; margin-right: 50%;" frameborder="0"></iframe>
                </center>
            </div>
        </div>
    </div>
</div>