@page
@model Boletaje.Pages.Client.NuevoModel
@{
    ViewData["Title"] = "Crear Cliente";
}
@section breadcrumb{

    <li class="breadcrumb-item">
        <a>Cliente</a>
    </li>
    <li class="breadcrumb-item active">
        <a>Nuevo</a>
    </li>

}
@section styles{


}

@section scripts{

    <script>
        var btn = document.getElementById('Guardar');
        function onGuardar() {
            btn.disabled = true;
            $("#formTipos").submit();
            btn.disabled = false;

        }
    </script>

}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="title">Crear Cliente</h5>
                    </div>

                    <div class="col-sm-6" style="text-align: right">



                    </div>
                </div>

            </div>
            <div class="card-body">
                <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Cédula (Factura Electrónica):</label>

                                <input type="text" class="form-control form-control-lg" id="cedula" placeholder="Cedula" asp-for="Input.Cedula" maxlength="12">

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nombre:</label>

                                <input type="text" class="form-control form-control-lg" id="nombre" placeholder="Nombre del Cliente" asp-for="Input.CardName">

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Teléfono:</label>
                                <input type="tel" class="form-control form-control-lg" id="tel" placeholder="Telefono" asp-for="Input.Telefono" maxlength="10">

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">

                                <label>Email:</label>
                                <input type="email" class="form-control form-control-lg" id="email" placeholder="Email" asp-for="Input.Email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <label>Persona de Contacto:</label>
                                <input type="text" class="form-control form-control-lg" id="contacto" placeholder="Nombre de la persona de contacto" asp-for="Input.NombreContacto">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">

                                <label>Teléfono de Contacto:</label>
                                <input type="tel" class="form-control form-control-lg" id="telcontacto" placeholder="Numero de Telefono del contacto" asp-for="Input.NumeroContacto" maxlength="10">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>Dirección:</label>

                                <input type="text" class="form-control form-control-lg" id="dir" placeholder="Direccion" asp-for="Input.Direccion" >

                            </div>
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" id="Guardar" class="btn btn-rounded btn-outline-success" onclick="javascript: onGuardar();">Guardar Cambios</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>