@page
@model Sicsoft.CostaRica.Checkin.Web.Pages.Account.RegistroUsuarioModel
@{
    ViewData["Title"] = "Registro de Usuario";
}

@section breadcrumb{

    <li class="breadcrumb-item">
        <a asp-page="./Index">Usuarios</a>
    </li>
    <li class="breadcrumb-item active">
        <a >Registro de usuario</a>
    </li>

}



@section styles{


}

@section scripts{


    <script>
        var btn = document.getElementById('Guardar');
        $(document).ready(function () {
            btn.disabled = true;

        });
        function esMayuscula(letra) {
            return letra === letra.toUpperCase();
        }

        function esMinuscula(letra) {
            return letra === letra.toLowerCase();
        }

        function verificaMayusculas(palabra) {
            var i = 0;
            for (var index = 0; index < palabra.length; index++) {
                var letraActual = palabra.charAt(index);
                if (isNaN(letraActual)) {
                    if (tiene_caracteres(letraActual) == 0) {

                        if (esMayuscula(letraActual)) {
                            i++;
                        }
                    }
                }



            }

            return i;

        }


        function verificaMinisculas(palabra) {
            var i = 0;
            for (var index = 0; index < palabra.length; index++) {
                var letraActual = palabra.charAt(index);
                if (isNaN(letraActual)) {
                    if (tiene_caracteres(letraActual) == 0) {

                        if (esMinuscula(letraActual)) {
                            i++;
                        }
                    }

                }


            }

            return i;

        }

        function tiene_caracteres(texto) {
            var regularExpression = "@@/^(?=.*[])(?=.*[!#$%^&*])[-!#$%^&*]{,}$/";
            for (i = 0; i < texto.length; i++) {
                if (regularExpression.indexOf(texto.charAt(i), 0) != -1) {
                    return 1;
                }
            }
            return 0;
        }

        function son_iguales(texto1, texto2) {
            if (texto1 === texto2) {
                return 1;
            } else {
                console.log(texto1 + " " + texto2);
                return 0;

            }
        }

        function tiene_numeros(texto) {
            var numeros = "0123456789";
            for (i = 0; i < texto.length; i++) {
                if (numeros.indexOf(texto.charAt(i), 0) != -1) {
                    return 1;
                }
            }
            return 0;
        }
        //Revisa las contraseñas

        function RevisaContraseña() {

            if (tiene_numeros($("#clave").val()) == 0) {
                var x = document.getElementById("ErrorClave");
                x.style.display = "block";
                $("#ErrorClave").text("La contraseña debe contener letras y numeros");
                btn.disabled = true;

            } else if ($("#clave").val().length < 8) {
                var x = document.getElementById("ErrorClave");
                x.style.display = "block";
                $("#ErrorClave").text("La contraseña debe tener una longitud mayor a 8 caracteres");
                btn.disabled = true;
            } else if (verificaMayusculas($("#clave").val()) == 0) {

                var x = document.getElementById("ErrorClave");
                x.style.display = "block";
                $("#ErrorClave").text("La contraseña debe tener mayúsculas");
                btn.disabled = true;
            }
            else if (verificaMinisculas($("#clave").val()) == 0) {
                var x = document.getElementById("ErrorClave");
                x.style.display = "block";
                $("#ErrorClave").text("La contraseña debe tener minúsculas");
                btn.disabled = true;
            }

            else {
                var x = document.getElementById("ErrorClave");
                x.style.display = "none";

                if (tiene_caracteres($("#clave").val()) == 0) {
                    console.log("No  tiene");
                    var x = document.getElementById("ErrorClave");
                    x.style.display = "block";
                    $("#ErrorClave").text("La contraseña debe contener al menos un caracter especial");
                    btn.disabled = true;
                } else {
                    console.log("Si tiene");
                    var x = document.getElementById("ErrorClave");
                    x.style.display = "none";
                    // btn.disabled = false;


                }
            }

            RevisaConfirmacionContraseña();



        }

        function RevisaConfirmacionContraseña() {
            if (son_iguales($("#clave").val(), $("#cClave").val()) == 0) {
                console.log(" son distintos");
                var x = document.getElementById("ErrorConfirmacionClave");
                x.style.display = "block";
                $("#ErrorConfirmacionClave").text("Las contraseñas no coinciden");
                btn.disabled = true;
            } else {
                console.log("No son iguales");
                var x = document.getElementById("ErrorConfirmacionClave");
                x.style.display = "none";
                btn.disabled = false;
            }


        }


    </script>
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="title">Registro de Usuario</h5>
                    </div>

                    <div class="col-sm-6" style="text-align: right">

                        <a asp-page="/Usuarios/Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="fas fa-reply "></i>  Regresar</a>

                    </div>
                </div>


            </div>
            <div class="card-body">
                <form method="post" id="formTipos" role="form" novalidate class="needs-validation " enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" class="form-control form-control-lg" id="fullname" placeholder="Nombre" asp-for="Input.Nombre" required>
                            </div>
                        </div>
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" class="form-control form-control-lg" asp-for="Input.Email" required placeholder="Correo Electrónico">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label>Rol</label>
                                <select id="heard" class="form-control" asp-for="Input.idRol" required>
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in Model.Roles)
                                    {
                                        <option value="@item.idRol">@item.NombreRol </option>
                                    }
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label for="clave">Contraseña</label>
                                <input class="form-control form-control-lg" asp-for="Input.Clave" id="clave" type="password" onchange="javascript: RevisaContraseña()" placeholder="Contraseña">
                                <span style="display:none;" id="ErrorClave" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label for="cClave">Confirmar Contraseña</label>
                                <input class="form-control form-control-lg" type="password" id="cClave" onchange="javascript: RevisaConfirmacionContraseña()" placeholder="Confirme la contraseña">
                                <span style="display:none;" id="ErrorConfirmacionClave" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="CodVendedor">Codigo Usuario SAP</label>
                                <input type="text" id="CodVendedor" class="form-control form-control-lg" asp-for="Input.CardCode" required placeholder="Cod Vendedor SAP">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label for="Bodega">Codigo Bodega</label>
                                <input type="text" id="CodBodega" class="form-control form-control-lg" asp-for="Input.Bodega" required placeholder="Cod Vendedor SAP">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" id="Guardar" class="btn btn-rounded btn-outline-success">Guardar Cambios</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
